In [6]:
import emoji 
import csv
import datetime
import re
from collections import Counter
import timeit
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

filepath = 'C:\\Users\\Wilm Hanke\\Documents\\GitHub\\twitter_stream\\tweet files\\tweets-2018-05-23.txt_strip.txt_set_rows.txt'

path = 'C:\\Users\\Wilm Hanke\\Documents\\GitHub\\twitter_stream\\tweet files'
allFiles = glob.iglob(os.path.join(path, "*_set_rows.txt"))

In [7]:
# einzelnes DataFrame aus dem Pool von Tweetfiles
data = pd.read_csv(filepath)
df = pd.DataFrame(data)

df.columns=['created_at','id_str','in_reply_to_user_id_str','text']
df.tail(1)

,created_at,id_str,in_reply_to_user_id_str,text
67754,2018-05-23 15:47:12,999315819791290368,NaN,"https://t.co/zTTiTORhZ0 #garage ""WATCH: Ten Th..."

In [ ]:
concatenated_df.info()

In [8]:
# l√§d Datei
df_from_each_file = (pd.read_csv(f, header=None) for f in allFiles)

concatenated_df   = pd.concat((df_from_each_file), ignore_index=True)
concatenated_df.columns=['created_at','id_str','in_reply_to_user_id_str','text']
concatenated_df.head(1)

,created_at,id_str,in_reply_to_user_id_str,text
0,2018-05-17 10:06:17,997055697735958529,NaN,RT @BTSVOTE_CHN: I am voting for @BTS_twt for ...

In [16]:
# RT werden aussortiert

#df = concatenated_df.loc[concatenated_df['text'].isin(e for e in emoji.UNICODE_EMOJI)]
#concatenated_df[concatenated_df['text']]
df_filtered_by_RT = concatenated_df[(concatenated_df.text is not )]
df_filtered_by_RT.head(3)

AttributeError: 'Series' object has no attribute 'startswith'