In [37]:
import emoji 
import csv
import datetime
import re
from collections import Counter
import timeit
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

filepath = 'C:\\Users\\Wilm Hanke\\Documents\\GitHub\\twitter_stream\\tweet files\\tweets-2018-05-23.txt_strip.txt_set_rows.txt'

path = 'C:\\Users\\Wilm Hanke\\Documents\\GitHub\\twitter_stream\\tweet files'
allFiles = glob.iglob(os.path.join(path, "*_set_rows.txt"))

In [10]:
# einzelnes DataFrame aus dem Pool von Tweetfiles
data = pd.read_csv(filepath)
df = pd.DataFrame(data)

df.columns=['created_at','id_str','in_reply_to_user_id_str','text']
df.tail(10)

,created_at,id_str,in_reply_to_user_id_str,text
67745,2018-05-23 15:47:05,999315792553566208,1.020857e+09,@USFreedomArmy I've been dealing with censorsh...
67746,2018-05-23 15:47:06,999315794755489792,1.911491e+09,#Nervous #ThisIsNotTheEndOfOneDirection #BBMAs...
67747,2018-05-23 15:47:08,999315801596448768,2.679228e+07,@ForeignPolicy @WHO @Laurie_Garrett @realDonal...
67748,2018-05-23 15:47:02,999315778078883840,NaN,Find out how you can get help in putting toget...
67749,2018-05-23 15:47:09,999315806063419393,NaN,Its to the point!#LearnDevelopLive #Quotes #qu...
67750,2018-05-23 15:47:09,999315807417942017,NaN,"Investors &amp; Developers, an excellent oppor..."
67751,2018-05-23 15:47:10,999315809926234112,NaN,fucc https://t.co/vMWM9EuJXK
67752,2018-05-23 15:47:11,999315814980489216,NaN,Just saw this on eBay &gt;&gt; #4334 #USA #lov...
67753,2018-05-23 15:47:12,999315819057344513,NaN,Everyone has blind spots. Your best advisors l...
67754,2018-05-23 15:47:12,999315819791290368,NaN,"https://t.co/zTTiTORhZ0 #garage ""WATCH: Ten Th..."

In [13]:
df.columns

Index(['created_at', 'id_str', 'in_reply_to_user_id_str', 'text'], dtype='object')

In [38]:
# l√§d Datei
df_from_each_file = (pd.read_csv(f, header=None) for f in allFiles)

concatenated_df   = pd.concat((df_from_each_file), ignore_index=True)
concatenated_df.columns=['created_at','id_str','in_reply_to_user_id_str','text']
concatenated_df.head(3)

,created_at,id_str,in_reply_to_user_id_str,text
0,2018-05-17 10:06:17,997055697735958529,NaN,RT @BTSVOTE_CHN: I am voting for @BTS_twt for ...
1,2018-05-17 10:06:17,997055698507878401,NaN,RT @ktaexx_: How to use 280 characters: LEGEND...
2,2018-05-17 10:06:17,997055698474172416,NaN,RT @bangstanmutuals: rt this to gain jungkook ...

In [ ]:
# nur tweets mit Emoji

concatenated_df.loc[concatenated_df['text'].isin(e for e in emoji.UNICODE_EMOJI)]